{% extends 'base/base.html' %}
{% block title %}ESD | Diego Lopez Portfolio{% endblock %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/projects/esd.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
{% endblock extrahead %}

{% block content %}
<div class="custom-container-center">
  <h1 class="display-4 custom-title">Embedded Systems Design</h1>
</div>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">High and Low Pass Filter</h5>
      <p class="card-text">
        Using VHDL and C with the Cyclone V FPGA, I researched digital signal processing to design
        and verify high and low pass filters to process audio signals.
      </p>
      <button type="button" class="btn btn-primary" id="showfilterModalButton">
        View Details
      </button>
    </div>
  </div>
  <!-- Add more cards as needed -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nothing Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is only a placeholder for now.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Filter Modal HTML -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Audio Processor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="custom-container-center">
          <h1 class="display-4">VHDL Audio Processor</h1>

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Audio Filter Component Entity</h2>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_entity.png' %}" alt="VHDL Audio Processor">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Audio Filter Component Architecture</h2>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_arch.png' %}" alt="VHDL Audio Processor">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Filter Data Input Process</h2>
              <p class="lead">
                Determines the destination of the .wav file data. If the address is 0, the data bypasses both filters
                and is sent directly to the output. If the address is 1, the data is processed by one of the filters.
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_data_in.png' %}" alt="VHDL Audio Processor">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Filter Coefficients Process</h2>
              <p class="lead">
                Fills the arrays for the high and low pass filters with their respective coefficients. The process
                selects the appropriate array of coefficients based on the filter select vector.
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_coeffs.png' %}" alt="VHDL Audio Processor">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_coeff_proc.png' %}"
                alt="VHDL Audio Processor">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Shift Register Process</h2>
              <p class="lead">
                The shift register (delay_reg) sequentially delays the input data, allowing the filter to process a
                sequence of input samples. This delay is essential for implementing Finite Impulse Response (FIR)
                filters, where previous input samples are multiplied by coefficients and summed to produce the output.
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_shift_reg.png' %}"
                alt="VHDL Audio Processor">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Multiplier Generator Process</h2>
              <p class="lead">
                The multiplier takes the input signal and multiplies it by the corresponding coefficient. Since the
                input and output signals are 16 bits, a for-loop is used to instantiate 16 multipliers.
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="{% static 'Assets/vhdl/filter_multiplier.png' %}"
                alt="VHDL Audio Processor">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- Filter Modal -->

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<!-- Custom Script -->
<script src="../../static/js/projects/esd.js"></script>

{% endblock content %}