{% extends 'base/base.html' %}
{% block title %}EVT | Diego Lopez Portfolio{% endblock %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/projects/evt.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extrahead %}

{% block content %}
<div class="container custom-container-center">
  <h1 class="display-4 custom-title">RIT Electric Vehicle Team</h1>
  <h2 class="display-4 custom-subtitle">Firmware Team | September 2023 - Present</h2>
</div>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">CANopen Service Data Objects</h5>
      <p class="card-text">Designed a sample program that demonstrates communication between two STM32 microcontrollers
        using the CANopen Service Data Objects (SDO) protocol.</p>
      <button type="button" class="btn btn-primary" id="showCanModalButton">View Details</button>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Low Voltage Subsystem</h5>
      <p class="card-text">Developed core logic for the LVSS, which converts a 400 VDC battery pack into multiple 12 VDC
        outputs for distribution across the bike.</p>
      <button type="button" class="btn btn-secondary" id="fullscreenButton">View PDF</button>
      <button type="button" class="btn btn-primary" id="showLvssModalButton">View Details</button>
    </div>
  </div>

  <iframe id="lvssIframe" src="../../static/docs/lvss.pdf" style="width: 100vh; height: 125vh" hidden></iframe>

</div>


<!-- CAN Modal HTML -->
<div class="modal fade custom-modal" id="canModal" tabindex="-1" aria-labelledby="canModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="canModalLabel">SDO Sample</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Overview:</strong>
        <p>This example program uses two STM32 microcontrollers to communicate via the CANopen Service Data Objects
          (SDO) protocol, serving as a learning tool for other team members.</p>

        <div class="custom-rows-center">
          <div class="row featurette custom-featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Main Loop</h2>
              <p class="lead">The client node receives data from the server every second and sends data back every five
                seconds.</p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="../../static/Assets/evt/sdo/main-loop.png" alt="Main Loop Visualization">
            </div>
          </div>

          <hr class="featurette-divider custom-featurette-divider">

          <div class="row featurette custom-featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">receiveData</h2>
              <p class="lead">Retrieves data from the server to the client.
              <ol>
                <li>Instantiates an array to store the received values.</li>
                <li>Uses the SDOReceive method to request and validate the data.</li>
                <li>Logs errors or success messages via a UART Logger.</li>
              </ol>
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="../../static/Assets/evt/sdo/receiveData.png" alt="receiveData Code">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette custom-featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">transferData</h2>
              <p class="lead">Sends data from the client to the server.
              <ol>
                <li>Increments the first array element and doubles its value for the second element.</li>
                <li>Uses the SDOTransfer method to initiate the data transfer and checks for errors.</li>
                <li>Logs errors or success messages via a UART Logger.</li>
              </ol>
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="../../static/Assets/evt/sdo/transferData.png" alt="transferData Code">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette custom-featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">SDOReceive</h2>
              <p class="lead">
                This function initiates an SDO upload (read) request to retrieve data from the specified object
                dictionary entry on the target CANopen node.
              <ol>
                <li>Uses the <code>COCSdoFind</code> method to locate the target CANopen node for communication.</li>
                <li>Registers the callback function to handle the operation's completion or errors.</li>
                <li>Sends the upload request and returns any corresponding error codes or statuses.</li>
              </ol>
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="../../static/Assets/Grey-Square.png" alt="SDOReceive Diagram">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette custom-featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">SDOTransfer</h2>
              <p class="lead">
                This function prepares and initiates an SDO download (write) request to send data to the specified
                object dictionary entry on the target CANopen node.
              <ol>
                <li>Uses the <code>COCSdoFind</code> method to locate the target CANopen node for communication.</li>
                <li>Registers the callback function to monitor the operation's completion or errors.</li>
                <li>Sends the download request and handles any errors that occur during the process.</li>
              </ol>
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="../../static/Assets/Grey-Square.png" alt="SDOTransfer Diagram">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette custom-featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">registerCallBack</h2>
              <p class="lead">Assigns a user-defined callback function for SDO operations.
              <ol>
                <li>AppCallback function is a pointer to the callback function to register.</li>
                <ul>
                  <li><strong>Parameters:</strong></li>
                  <ul>
                    <li><code>CO_CSDO* csdo</code>: Pointer to the client SDO object.</li>
                    <li><code>uint16_t index</code>: Object dictionary index.</li>
                    <li><code>uint8_t sub</code>: Object dictionary subindex.</li>
                    <li><code>uint32_t code</code>: Completion status (0 for success).</li>
                  </ul>
                </ul>
                <li>AppContext is pointer to the csdo node.</li>
              </ol>
              </p>
            </div>
            <div class="col-md-5">
              <img class="audio-entity" src="../../static/Assets/Grey-Square.png" alt="registerCallBack Diagram">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LVSS Modal HTML -->
<div class="modal fade" id="lvssModal" tabindex="-1" aria-labelledby="lvssModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lvssModalLabel">Low Voltage Subsystem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 100vh;">
        <strong>Overview:</strong>
        <p>The Low Voltage Subsystem (LVSS) manages power distribution for the bike, turning its systems on and off
          using a firmware-implemented Finite State Machine (FSM).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="../../static/js/projects/evt.js"></script>
{% endblock content %}