{% extends 'base/base.html' %}
{% block title %}EVT | Diego Lopez Portfolio{% endblock %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/evt/evt.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extrahead %}

{% block content %}
<div class="container custom-container-center">
  <h1 class="display-4 custom-title">RIT Electric Vehicle Team</h1>
  <h2 class="display-4 custom-subtitle">Firmware Team | 09/2023 - Present</h2>
  <!-- <a href="#can-section" class="btn btn-primary btn-lg">CANopen Page</a>
  <a href="#lvss-section" class="btn btn-primary btn-lg">LVSS Page</a>
  <a href="#rtos-section" class="btn btn-primary btn-lg">RTOS Page</a> -->
</div>

<div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Card Grid -->
  <div class="col">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">CANopen Service Data Objects</h5>
        <p class="card-text">Designed an example program that would use two stm32 microcontrollers that would
          communicate with each other using the Service Data Objects (SDO) CANopen communication protocol.</p>
        <!-- Button to trigger the CAN modal -->
        <button type="button" class="btn btn-primary" id="showCanModalButton">
          View details
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Low Voltage SubSystem</h5>
        <p class="card-text">Created the core logic to control an LVSS using a Finite State Machine.</p>
        <!-- Button to trigger the LVSS modal -->
        <button type="button" class="btn btn-primary" id="showLvssModalButton">
          View details
        </button>
      </div>
    </div>
  </div>
</div> <!-- Card Grid -->

<!-- CAN Modal HTML -->
<div class="modal fade" id="canModal" tabindex="-1" aria-labelledby="canModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="canModalLabel">SDO Sample</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Overview:<br></strong>
        <p>I designed an example program that would use two stm32 microcontrollers that would communicate with each
          other using the Service Data Objects (SDO) CANopen communication protocol.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- CAN Modal -->

<!-- LVSS Modal HTML -->
<div class="modal fade" id="lvssModal" tabindex="-1" aria-labelledby="lvssModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lvssModalLabel">Low Voltage Subsystem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Overview:<br></strong>
        <p>The Low Voltage Subsystem (LVSS) is a system that controls the power distribution of the bike. The LVSS is
          responsible for turning on and off the bike's power systems. The LVSS is controlled by a Finite State Machine
          (FSM) that is implemented in the firmware.</p>
        <strong>Firmware Documentation:</strong>
        <iframe src="../../static/docs/lvss.pdf" width="100%" height="100%" style="border: none;"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- LVSS Modal -->

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<!-- Custom Script -->
<script src="../../static/js/projects/evt.js"></script>

{% endblock content %}