{% extends 'base/base.html' %}
{% block title %}Home | Diego Lopez Portfolio{% endblock %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/base/landing.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extrahead %}

{% block content %}
<main role="main">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>Electric Vehicle Team</h1>
            <p>Some projects I have worked on in EVT.</p>
            <p><a class="btn btn-lg btn-primary" href="/evt" role="button">View details</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Embedded Systems Design</h1>
            <p>Projects done with embedded systems like VHDL and embedded C.</p>
            <p><a class="btn btn-lg btn-primary" href="/esd" role="button">View details</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>My Resume</h1>
            <p>Check out all my projects and experience!</p>
            <p><a class="btn btn-lg btn-primary" href="/resume">View details</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <!-- Projects messaging and featurettes -->
  <div class="container projects-grid">
    <div class="row">
      <div class="col-lg-4 project-item">
        <div class="project-content">
          <h2>Low Voltage SubSystem</h2>
          <p>Designed the firmware for a finite state machine that would control an LVSS.</p>
          <p><a class="btn btn-secondary" href="/evt?modal=lvss" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 project-item">
        <div class="project-content">
          <h2>CANopen SDO Sample</h2>
          <p>Designed a CANopen sample that would teach members how to use Service Data Objects to transmit and
            receive from a client to a server node.</p>
          <p><a class="btn btn-secondary" href="/evt?modal=can" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 project-item">
        <div class="project-content">
          <h2>VHDL Audio Processor</h2>
          <p>Programmed an FPGA to be able to take input audio and output it through a high pass and low pass filter.
          </p>
          <p><a class="btn btn-secondary" href="/esd?modal=filter" role="button">View details &raquo;</a></p>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container projects-grid -->

  <div class="container featurette-grid">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Hello, I'm Diego!
        </h2>
        <p class="lead">I am an embedded systems engineer with a passion for designing and integrating embedded software
          and hardware.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../static/Assets/Grey-Square.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Electric Vehicle Team<br> <span class="text-muted">Firmware Team</span></h2>
        <p class="lead">Joined the firmware team on September of 2023 and have been lucky enough to have the
          opportunity
          to work on amazing projects and meet awesome people.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../../static/Assets/Grey-Square.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Personal projects<br> <span class="text-muted">Discord bot</span></h2>
        <p class="lead">On my own time I like to work personal projects such as my very own discord bot programmed in
          python.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../static/Assets/Grey-Square.png"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
  </div><!-- /.container featurette-grid -->

</main>

<!-- Placeholder Alert Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nothing here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is only a placeholder for now.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Example use of modal in a button
<a class="btn btn-secondary" href="/" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">View details &raquo;</a> -->

<!-- Custom Modal for Image Alert -->
<div class="modal fade" id="imageAlertModal" tabindex="-1" aria-labelledby="imageAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageAlertModalLabel">Sequence Completed!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../static/Assets/funny/meme-1.png" alt="Sequence Completed Image" class="img-fluid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="../../static/js/base/landing.js"></script>
{% endblock content %}