/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-container {
    max-width: 900px;
    /* Adjust the width to your desired size */
    padding: 30px 15px;
    /* Optional: adjust padding */
    margin: 0 auto;
    /* Center the container */

}