.fullscreen-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Optional: semi-transparent background */
  z-index: 9999; /* Ensures it covers everything */
}

.spinner-img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.loading-text {
  font-size: 24px;
  color: #333;
}
