{% extends 'base/base.html' %} 
{% block title %}ESD | Diego Lopez Portfolio{%endblock %} 
{% load static %} 
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/personal/esd.css' %}" />
<link rel="stylesheet" href="{% static 'css/base/custom.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
{% endblock extrahead %} {% block content %}

<div class="custom-container-center">
  <h1 class="display-4 custom-title">Embedded Systems Design</h1>

  <!-- <h2 class="display-4">Low-Pass Filter</h2>
  <p class="lead">
  </p>
  <hr class="my-4"> -->

</div>
<div class="row custom-container-center">

  <div class="card custom-container-center" style="width: 18rem;">
    <img class="card-img-top" src="../../static/Assets/Grey-Square.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">High and Low Pass Filter</h5>
      <p class="card-text">Using VHDL and C with the Cyclone V FPGA, I researched digital signal processing to design and verify a high and low pass filter to process audio signals.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card custom-container-center" style="width: 18rem;">
    <img class="card-img-top" src="../../static/Assets/Grey-Square.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Servo Controller</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card custom-container-center" style="width: 18rem;">
    <img class="card-img-top" src="../../static/Assets/Grey-Square.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card custom-container-center" style="width: 18rem;">
    <img class="card-img-top" src="../../static/Assets/Grey-Square.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
</div>
{% endblock content %}
