/* Dark Mode Tab Styles */
[data-theme="dark"] .nav-tabs .nav-link {
  color: var(--text-color); /* Dark mode text color */
}

[data-theme="dark"] .nav-tabs .nav-link.active {
  color: var(--text-color-alt);
  background-color: var(
    --projects-tab-color
  ); /* Darker active tab background */
}
