{% extends 'base/base.html' %}
{% block title %}RTOS | Diego Lopez Portfolio{% endblock %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/evt/rtos.css' %}" />
<link rel="stylesheet" href="{% static 'css/base/custom.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extrahead %}

{% block content %}

<div class="custom-container rtos">
    <h1 class="display-4">Real Time Operating System</h1>

</div>

<nav class="breadcrumb-bottom" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/evt">EVT</a></li>
      <li class="breadcrumb-item active" aria-current="page">RTOS</li>
    </ol>
  </nav>

{% endblock content %}
