{% extends 'base/base.html' %}
{% block title %}Projects | Diego Lopez Portfolio{% endblock %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'portfoliov2/evt.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extrahead %}

{% block content %}

<!-- <h1>Relevant Projects<span class="badge badge-secondary">New</span></h1> -->

<div class="evt">
  <h2>RIT Electric Vehicle Team | Firmware Team | 09/2023 - Present <span class="badge badge-secondary">New</span></h2>

  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">C++ Abstraction Layer</h5>
        <p class="card-text">Worked with a team to create a C++ abstraction layer to integrate the RTOS into the library to enhance functionality.</p>
        <a href="https://github.com/RIT-EVT/EVT-core/blob/main/samples/rtos/threadx-demo/main.cpp" class="btn btn-primary" target="_blank">GitHub Repo</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Low Voltage Sub-System Finite State Machine</h5>
        <p class="card-text">Worked with an Integration team to design firmware for a Low Voltage Sub-System to safely power on an electric motorcycle.</p>
        <a href="/lvss"pageId"%3A"jGngGYrcRXXs4YjXfpA_"%7D" class="btn btn-primary">LVSS Page</a>
        <!-- <a href="https://app.diagrams.net/#W39cb1b6d3800b1a2%2F39CB1B6D3800B1A2!s52abcb58cf4743f9ba3ac87c0f49df9e#%7B"pageId"%3A"jGngGYrcRXXs4YjXfpA_"%7D" class="btn btn-primary" target="_blank">FSM Diagram</a> -->
      </div>
    </div>

    <!-- <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Current Sensor</h5>
        <p class="card-text">Implemented an Allegro ACS71240 current sensor to send data to an ADC and then display the info over UART.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Voltage and Temp Sensor</h5>
        <p class="card-text">Programmed an STM32 Nucleo Microcontroller to read temperature and voltage using I2C and tested it with a Saleae Logic Analyzer and an Oscilloscope.</p>
      </div>
    </div> -->

</div>

{% endblock content %}