/* Tailwind Import */
@import "tailwindcss";
@import "flowbite/src/themes/default";

/* ===================== */
/* Root Theme Variables  */
/* ===================== */

@theme {
  --color-primary-blue: oklch(2 117 216); /* #0275d8 */
  --color-dark-blue: rgb(29, 78, 216); /* #1d4ed8 */

  --color-card-blue: rgba(29, 78, 216, 0.1); /* #1d4ed8 */
}

@custom-variant dark (&:where(.dark, .dark *));

/* Light Mode */
.light {
  --bg-color: 255, 255, 255;
  --text-color: 0, 0, 0;
  --text-opacity: 1;

  background: rgba(var(--bg-color));
}

/* Dark Mode */
.dark {
  --bg-color: 0, 0, 0;
  --text-color: 255, 255, 255;
  --text-opacity: 1;

  background: rgba(var(--bg-color));
}

/* ===================== */
/* Global Page Styling   */
/* ===================== */

html,
body {
  font-family: "Times New Roman", serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--bg-color));
  color: rgba(var(--text-color), var(--text-opacity));
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ===================== */
/* Layout Styling        */
/* ===================== */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-top: 55px; /* Adjust based on navbar height */
}

footer {
  background-color: #0275d8;
  color: aliceblue;
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}
