/* App.css */

/* ===================== */
/* Layout Styling        */
/* ===================== */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding-top: 55px; /* Adjust based on navbar height */
}

footer {
  background-color: #0275d8;
  color: aliceblue;
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}
