/* App.css */

:root {
  --bg-color: #fff;
  --text-color: 0, 0, 0;
  --text-opacity: 1;

  /* Light card */
  --card-bg-color: #f8f9fa;
  --card-text-color: #000;

  /* Contact Page */
  --contact-bg-color: #f8f9fa;
  --contact-textarea-color: #f8f9fa;
  --contact-text-color: #000;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: 255, 255, 255;
  --text-color-alt: #0275d8;
  --text-opacity: 0.9;

  /* Home */
  --muted-color: #6c757d;

  /* Dark card */
  --card-bg-color: #464343;
  --card-text-color: #f8f9fa;

  /* Contact Page */
  --contact-bg-color: #464343;
  --contact-textarea-color: #444;
  --contact-text-color: #f8f9fa;

  /* Projects */
  --projects-tab-color: #000;
}

/* Ensure the page takes full height */
html,
body {
  background-color: var(--bg-color);
  color: rgba(var(--text-color), var(--text-opacity));
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Main container that ensures content expands */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content wrapper grows to push footer down */
.content-wrap {
  flex: 1;
  padding-top: 60px; /* Adjust this value based on the navbar height */
}

/* Footer stays at the bottom */
footer {
  background-color: #0275d8;
  color: aliceblue;
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Pushes footer down */
}
