* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow: auto;
}

/* Center header and button */
.jumbotron {
    transform: translate(15%);
}

/* Center pdf */
iframe {
    transform: translate(15%);
}  