.container {
    margin-left: 10px;
    margin-top:65px;
    min-height: 100vh;
}

footer {
    padding: 30px 0;
    font-size: 1rem;
    height: 50px;
    color: aliceblue;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically */
}

.footer-content p {
    margin: 0; /* Remove default margin */
    margin-right: 10px; /* Space between text and first icon */
}

.footer-content a {
    color: white; /* Change link color to match footer */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between each icon */
}