* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}
  
h1 {
    font-size: 50px;
}

.container {
    margin-top: 55px;
    min-height: 100vh; 
}

footer {
    font-size: 1.5rem;
    height: 50px;
    color: aliceblue;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically */
}

.footer-content p {
    margin: 0; /* Remove default margin */
    margin-right: 10px; /* Space between text and first icon */
}

.footer-content a {
    color: white; /* Change link color to match footer */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between each icon */
}