{% extends 'base/base.html' %}
{% block title %}ESD | Diego Lopez Portfolio{%endblock %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/esd/esd.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
{% endblock extrahead %} {% block content %}

<div class="custom-container-center">
  <h1 class="display-4 custom-title">Embedded Systems Design</h1>
</div>

<!-- "row-cols-md-X" where X is the amount of cards per row -->
<div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Card Grid -->
  <div class="col">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">High and Low Pass Filter</h5>
        <p class="card-text">Using VHDL and C with the Cyclone V FPGA, I researched digital signal processing to design
          and verify a high and low pass filter to process audio signals.</p>
        <a href="/esd/filters" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <a class="btn btn-primary" href="/" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Go
          somewhere</a>
      </div>
    </div>
  </div>

  <!-- <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div> -->

</div> <!-- Card Grid -->

<nav class="breadcrumb-bottom" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">ESD</li>
  </ol>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nothing here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is only a placeholder for now.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}